# ------------------------
# Python
# ------------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# 가상환경
.env
.venv/
venv/
ENV/
env.bak/
venv.bak/

# ------------------------
# 환경 변수 파일
# ------------------------
.env
.env.*

# ------------------------
# IDE / 편집기 설정
# ------------------------
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# ------------------------
# OS 생성 파일
# ------------------------
.DS_Store
Thumbs.db

# ------------------------
# 로그 / 임시 파일
# ------------------------
*.log
*.tmp
*.temp

# ------------------------
# 데이터베이스 / 백업
# ------------------------
*.sqlite3
*.db
*.bak
